<div class="form__container">
  <h3>SAP Ariba look-alike form</h3>
  <form >
    <div class="input-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="form.firstName" name="firstName" />
    </div>
    <div class="input-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="form.lastName" name="lastName" />
    </div>
    <div class="input-group">
      <label>Role</label>
      <input type="text" [(ngModel)]="form.role" name="role" />
    </div>
    <div>
      <button type="button" (click)="onSubmit()">Save to localStorage</button>
    </div>
    <div *ngIf="resultMessage">{{ resultMessage }}</div>
  </form>
</div>
